.temelDiv{
  width: 80%;
  height: 100%;
  padding: 10%;
  background-color: aquamarine;
  
}
.temelDiv .header h1{
  padding-left: 25rem ;
  font-size: 2rem;
  color: blue;
}
.temelDiv .header p{
  padding-left: 33rem ;
  font-size: 1rem;
  color: blue;
}

.textSide{
  background-color: transparent ;
  font-size: 2rem;
  padding-left: 25rem ;
}
.submit .submitForm input{
  font-size: 1.5rem;
  color: blue;
  padding-left: 30rem ;
  padding-right: 20rem;
}